*,
*::before,
*::after {
    box-sizing: border-box;
}

:global(body) {
    margin: 0;
    padding: 1rem;
}

.d-flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.gap-1 {
    gap: 0.25rem;
}

.mbe-3 {
    margin-block-end: 1rem;
}

.input-group {
    display: flex;

    input,
    output,
    .input-text {
        &:first-child {
            border-radius: 0.5rem 0 0 0.5rem;
        }

        &:not(:first-child) {
            border-inline-start: 0 none;
        }

        &:last-child {
            border-radius: 0 0.5rem 0.5rem 0;
        }

        &:first-child:last-child {
            border-radius: 0.5rem;
        }
    }
}

input,
output,
.input-text {
    background: #eee;
    border: 1px solid #999;
    display: block;
    font: inherit;
    padding: 0.125rem 0.5rem;
}

input {
    background: #fff;
    min-width: 1ch;
}

.input-text {
    background: #ddd;
}

.big {
    font-size: 200%;
}

.w-100 {
    width: 100%;
}

.settings {
    background: #eee;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 0.5rem 1rem;
    transition: padding .3s ease;

    &:open {
        padding: 1rem;
    }

    summary {
        cursor: pointer;
    }
}